h1{
    font-size: 41px;
    line-height: 49px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    color: #333333;
}
h3{
    font-size: 21px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    color: #333333;
}
p, label{
    font-size: 19px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #A5A5A5;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 87px;
    z-index: 10;
    background: #006BFF 0% 0% no-repeat padding-box;
}
.header p{
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.form{
    margin: auto;
    width: 675px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 30px 43px 0px rgba(0,107,255,0.07);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    padding: 40px;
    margin-top: 50px;
}
.vehiculo{
    margin-top: 171px;
}
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 20px;
  }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .container input:checked ~ .checkmark {
    background-color: #006BFF;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container input:checked ~ .checkmark:after {
    display: inline-block;
  }
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

.vigencia__fechas{
    display: block;
}
.form__text{
    font-size: 19px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #A5A5A5;
    width: 97%;
    height: 50px;
    background: #F5F6F7 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    border: none;
    padding-left: 20px;
}
.mitad{
    margin-top: 10px;
    display: inline-block;
    width: 30%;
    margin-right: 5%;
}
 #options{
    width: 100%;
    height: 50px;
    background: #F5F6F7 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    border: none;
    padding-left: 20px;
    font-size: 19px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #A5A5A5;
 }
 option{
    font-size: 19px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #A5A5A5;
 }

 .resultado{
    margin: auto;
    width: 754px;
    height: auto;
    border-radius: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    margin-top: 50px;
}

.resultados__tabla{
    width: 754px;
}
.columna1{
    text-align: left;
    font-size: 19px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #333333;

}
.columna2{
    font-size: 19px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #006BFF;
}
.resultado__precio{
    margin: 80px auto;
}
.resultado__precio h1{
    font-size: 80px;
    line-height: 85px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    color: #006BFF;
    margin: 0;
    padding: 0;
}
.resultado__precio h3{
    font-size: 21px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    color: #333333;
    margin: 0;
    padding: 0;
}