body {
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 15%, rgba(247, 250, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(255, 255, 255, 1)), to(rgba(247, 250, 255, 1)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, rgba(247, 250, 255, 1) 100%);
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  .hero {
    mix-blend-mode: multiply;
  }
  .clouds {
    position: absolute;
    top: 85px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    mix-blend-mode: multiply;
    will-change: opacity;
  
    width: 80%;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-name: float-x;
    animation-name: float-x;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .coin {
    position: absolute;
    bottom: 190px;
    left: 207px;
    mix-blend-mode: multiply;
    width: 50px;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-name: float;
    animation-name: float;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .heart {
    position: absolute;
    bottom: 100px;
    right: 170px;
    mix-blend-mode: multiply;
    width: 44px;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-name: float;
    animation-name: float;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  @-webkit-keyframes float-x {
    0% {
      -webkit-transform: translateX(-51%);
      transform: translateX(-51%);
    }
    50% {
      -webkit-transform: translateX(-49%);
      transform: translateX(-49%);
    }
    100% {
      -webkit-transform: translateX(-51%);
      transform: translateX(-51%);
    }
  }
  @keyframes float-x {
    0% {
      -webkit-transform: translateX(-51%);
      transform: translateX(-51%);
    }
    50% {
      -webkit-transform: translateX(-49%);
      transform: translateX(-49%);
    }
    100% {
      -webkit-transform: translateX(-51%);
      transform: translateX(-51%);
    }
  }
  
  @-webkit-keyframes float {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(2vh);
      transform: translateY(2vh);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes float {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(2vh);
      transform: translateY(2vh);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .hero {
    width: 100%;
    height: 100vh;
  }
  #header {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    background-color: #fff;
    z-index: 20;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .headerLogo {
    padding: 20px 15px;
    margin: 0;
    margin-left: 50px;
    text-align: left;
    font-size: 25px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    color: #121c42;
    text-decoration: none;
  }
  
  .headerComencemos {
    padding: 20px 15px;
    margin: 0;
    margin-right: 50px;
    text-align: left;
    font-size: 15px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #121c42;
  }
  
  .tituloBienvenida {
    margin: auto;
    width: 90%;
    padding-top: 180px;
    text-align: center;
    font-size: 90px;
    line-height: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: -2px;
    color: #121c42;
  }
  .subtituloBienvenida {
    margin: auto;
    width: 90%;
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #9ba2b2;
  }
  .botonBienvenida {
    width: 180px;
    margin: auto;
    margin-top: 90px;
    text-align: center;
  }
  
  .botonBienvenida a {
    border-radius: 13px;
    background-color: #ffbb36;
    text-align: center;
    font-size: 15px;
    padding: 15px 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  
  .botonBienvenida a:hover {
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  }
  
  .formContainer {
    width: 80%;
    height: 100vh;
    padding-top: 30px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .formImg {
    width: 45%;
    margin: auto;
    z-index: 1;
  }
  .formImg img {
    width: 120%;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-name: float;
    animation-name: float;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .formInfo {
    width: 45%;
    margin: auto;
    z-index: 2;
  }
  .formInfo__resultado {
    height: auto;
    margin-top: 50px;
  }
  
  .formInfo h1 {
    font-size: 27px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    color: #121c42;
  }
  .formInfo h3 {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    color: #121c42;
  }
  .formInfo p,
  .formInfo label {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #121c42;
  }
  .formInfo__input {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #121c42;
    width: 97%;
    height: 40px;
    background: #f5f6f7 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    border: none;
    padding-left: 20px;
  }
  #formInfo__options__marca, #formInfo__options__model {
    width: 100%;
    height: 40px;
    background: #f5f6f7 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #121c42;
  }
  
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  option {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #121c42;
  }
  button{
    margin: 20px auto;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 10px 10px 23px -5px rgba(46,0,184,0.3);
    border: none;
    background-color: #121c42;
    color: #fff;
    width: 300px;
    padding: 15px 35px;
    transition: 0.2s;
    font-weight: bold;
}
button:hover{
    box-shadow: 10px 10px 23px -5px rgba(46,0,184,0);
    transform: translateY(5px);
}
  .formInfo__resultado {
    margin: 10px auto;
  }
  .formInfo__resultado h1 {
    font-size: 80px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
    color: #121c42;
    margin: 0;
    padding: 0;
  }
  .formInfo__resultado h3 {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #a5a5a5;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 980px) {
    .formImg img {
      width: 160%;
      margin-left: -80px;
    }
    .tituloBienvenida {
      font-size: 70px;
      line-height: 80px;
    }
  }
  
  @media (max-width: 740px) {
    .tituloBienvenida {
      width: 80%;
      font-size: 57px;
      line-height: 70px;
      text-align: left;
    }
    .subtituloBienvenida {
      width: 80%;
      text-align: left;
    }
    .botonBienvenida {
      width: 80%;
      text-align: left;
      margin-top: 40px;
    }
    .clouds {
      display: none;
    }
    .coin {
      bottom: auto;
      left: 70px;
      right: auto;
      top: 110px;
    }
    .heart {
      position: absolute;
      bottom: auto;
      right: auto;
      left: 240px;
      top: 108px;
    }
    .formContainer {
      height: auto;
      padding-bottom: 100px;
    }
    .formImg {
      width: 100%;
    }
    .formImg img {
      width: 100%;
      margin-left: -20px;
    }
    .formInfo {
      width: 100%;
      margin: auto;
      z-index: 2;
    }
  }
  
  @media (max-width: 530px) {
    .headerLogo {
      margin-left: 9%;
    }
    .headerComencemos {
      margin-right: 9%;
    }
    .tituloBienvenida {
      font-size: 39px;
      line-height: 49px;
      padding-top: 210px;
    }
    .subtituloBienvenida {
      margin-top: 40px;
      font-size: 16px;
      line-height: 23px;
    }
    .formImg img {
      width: 120%;
    }
  }
  