body{
    padding: 3% 10% 0 10%;
    margin: auto;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(247,250,255,1) 100%); 
}

h2{
    margin: auto;
    margin-top: 180px;
    text-align: left;
    font-size: 30px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #121C42;
}
p{
    margin: auto;
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #121C42;
}

button{
    margin: 20px auto;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 10px 10px 23px -5px rgba(46,0,184,0.3);
    border: none;
    background-color: #FFF;
    color: #121C42;
    padding: 15px 35px;
    transition: 0.2s;
    font-weight: bold;
}
button:hover{
    box-shadow: 10px 10px 23px -5px rgba(46,0,184,0);
    transform: translateY(5px);
}
#mensajeFinal{
    margin: auto;
    text-align: left;
    font-size: 15px;
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #9BA2B2;
}
input{
    border: none;
    color: #121C42;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 10px auto;
}