
@font-face {
    font-family: 'Tiempos Fine Semibold';
    src:    url('Tiempos-Fine-Semibold.woff2') format('woff2'),
            url('Tiempos-Fine-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}